.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; 
}

.webcam {
  position: relative; 
  z-Index: 1; 
}

.canvas {
  position: relative; 
  z-Index: 2; 
}

.smoking-detected {
  position: absolute;
  bottom: 80px; 
  left: 50%;
  transform: translateX(-50%); 
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 18px;
  z-index: 9999;
}
